.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #505155;
  height: 100vh;
  .chatMessage {
    height: 100vh; // 親要素の高さを画面全体に設定
    overflow-y: auto; // 親要素にのみ縦スクロールを適用
    display: flex;
    flex-direction: column;
    padding: 10px;

    .me,
    .other {
      display: flex;
    }
    .me {
      color: white;
      align-self: flex-end; // メッセージを右側に配置
    }
    .other {
      color: white;
      align-self: flex-start; // メッセージを左側に配置
    }
  }

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px;
    color: lightgray;

    form {
      flex-grow: 1;
      input {
        padding: 15px;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: large;
        width: 100%;
      }
      .chatInputButton {
        display: none;
      }
    }
    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 5px;
      }
    }
  }
}
